/* Archivo: styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Ajuste base para mejor escalabilidad */
}

.container {
    width: 100%;
    max-width: 100%; /* Ocupa toda la pantalla */
    margin: 0 auto; /* Elimina el margen superior */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em; /* Escalar título */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px; /* Aumentar padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em; /* Aumentar tamaño del texto */
}

.form-group button {
    width: 100%;
    padding: 12px; /* Aumentar tamaño */
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em; /* Aumentar fuente */
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.menu {
    text-align: center;
    margin-top: 20px;
}

.menu button {
    width: 100%;
    padding: 12px; /* Aumentar padding */
    margin-bottom: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em; /* Aumentar tamaño del texto */
    cursor: pointer;
}

.menu button:hover {
    background-color: #218838;
}

.work-section {
    margin-top: 20px;
}

.work-section h2 {
    color: #333;
    text-align: center;
    font-size: 1.8em; /* Aumentar tamaño del texto */
}

.task-list {
    margin-top: 10px;
}

.task-list div {
    margin-bottom: 10px;
    padding: 12px; /* Aumentar padding */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-list input[type="checkbox"] {
    margin-right: 10px;
}

.divider {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .form-group input,
    .form-group select,
    .form-group button,
    .menu button {
        padding: 10px;
        font-size: 1.1em; /* Ajustar tamaño */
    }

    .task-list div {
        padding: 10px;
    }

    h1, .work-section h2 {
        font-size: 1.6em;
    }

    .menu button {
        font-size: 1.1em;
    }
}

/* Responsividad para pantallas muy pequeñas (móviles en modo retrato) */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .form-group input,
    .form-group select,
    .form-group button,
    .menu button {
        padding: 10px;
        font-size: 1em; /* Ajustar tamaño del texto */
    }

    .task-list div {
        padding: 10px;
    }

    h1, .work-section h2 {
        font-size: 1.4em;
    }

    .menu button {
        font-size: 1em;
    }
}
